<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
        <tr>
            <th scope="row"><%= link_to person.id, people_show_path(person.id) %></th>
            <td><%= person.name %></td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
    <% end %>
  </tbody>
</table>